name: Java CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    services:
      mongodb:
        image: mongo:latest
        ports:
          - 27017:27017
        options: >-
          --health-cmd='curl --silent --fail mongodb://localhost:27017' 
          --health-interval=10s 
          --health-timeout=5s 
          --health-retries=5
          --network host  # Usando a rede padrão host
        env:
          MONGO_INITDB_ROOT_USERNAME: rootuser
          MONGO_INITDB_ROOT_PASSWORD: rootpass          

    steps:
      - name: Checkout do código
        uses: actions/checkout@v3

      - name: Configurar o JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'adopt'  # ou 'adopt', 'zulu'
          java-version: '11'       # ou 11, 21, dependendo do seu projeto

      - name: Build com Maven
        run: mvn clean install

      - name: Rodar testes
        run: mvn clean test -DskipTests=false
